
<form class="user-form" name="registrationForm" ng-controller="RegistrationController as registration"
      data-ng-submit="registration.registerUser()" novalidate>

    <h4>Add user</h4>

    <fieldset class="form-group">
        <input type="text" ng-model="$ctrl.user.login" class="form-control" placeholder="Enter your login here"
                  title="Login" required/><br />

        <input ng-model="$ctrl.user.password" type="password" class="form-control"
               placeholder="Enter your password here" title="Password" required/><br />
        <input ng-model="$ctrl.user.surname" type="text" class="form-control"
               placeholder="Enter your surname here" title="Surname" required/><br />
        <input ng-model="$ctrl.user.username" type="text" class="form-control"
               placeholder="Enter your name here" title="Name" required/><br />
        <input ng-model="$ctrl.user.patronymic" type="text" class="form-control"
               placeholder="Enter your patronymic here" title="Patronymic" required/><br />
        <input ng-model="$ctrl.user.email" type="email" class="form-control"
               placeholder="example@domen.ru" title="Email" required/><br />
        <select ng-model="$ctrl.user.role" class="form-control"
              title="Role" required>
            <option value="ADMINISTRATOR">Администратор</option>
            <option value="COACH">Тренер</option>
            <option value="DOCTOR">Врач</option>
            <option value="STATISTICS_MANAGER">Статистик</option>
            <option value="PLAYER" selected>Игрок</option>
        </select> <br />
        <select ng-model="$ctrl.user.faculty" class="form-control"
                title="Faculty" required>
            <option value="ALL">Вне факультета</option>
            <option value="RAVENCLAW">Когтевран</option>
            <option value="HUFFLEPUFF">Пуффендуй</option>
            <option value="SLYTHERIN">Слизерин</option>
            <option value="GRYFFINDOR">Гриффиндор</option>
        </select><br />

        <input type="submit" value="Register"/><a ng-href='#!/authorisation'>Back to authorisation</a>
    </fieldset>
</form>