<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <title>Регистрация</title>
    <link href="/css/styles.css" rel="stylesheet"/>

</head>
<body class="bg-primary">
<div id="layoutAuthentication">
    <div id="layoutAuthentication_content">
        <main>
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-7">
                        <div class="card shadow-lg border-0 rounded-lg mt-5">
                            <div class="card-header"><h3 class="text-center font-weight-light my-4">
                                Зарегистрироваться</h3></div>
                            <div class="card-body">
                                <form name="registrationForm"
                                      ng-controller="RegistrationController as registration"
                                      data-ng-submit="registration.registerUser()"
                                      novalidate>
                                    <div class="form-row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="small mb-1" for="inputLogin">Логин</label>
                                                <input class="form-control py-4"
                                                       ng-model="registration.user.login"
                                                       id="inputLogin"
                                                       type="text"
                                                       placeholder="Enter login"
                                                       ng-required="true"/>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="small mb-1" for="inputPassword">Пароль</label>
                                                <input class="form-control py-4"
                                                       id="inputPassword"
                                                       type="password"
                                                       placeholder="Enter password"
                                                       ng-model="registration.user.password"
                                                       ng-required="true"/>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label class="small mb-1" for="inputFirstName">Имя</label>
                                                <input class="form-control py-4"
                                                       id="inputFirstName"
                                                       ng-model="registration.user.username"
                                                       type="text"
                                                       placeholder="Enter first name"
                                                       ng-required="true"/>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label class="small mb-1" for="inputLastName">Фамилия</label>
                                                <input class="form-control py-4"
                                                       id="inputLastName"
                                                       type="text"
                                                       placeholder="Enter last name"
                                                       ng-model="registration.user.surname"
                                                       ng-required="true"/>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label class="small mb-1" for="inputPatronymic">Отчество</label>
                                                <input class="form-control py-4"
                                                       id="inputPatronymic"
                                                       type="text"
                                                       placeholder="Enter patronymic"
                                                       ng-model="registration.user.patronymic"
                                                       ng-required="true"/>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="col-md-5">
                                            <div class="form-group">
                                                <label class="small mb-1" for="inputBirthDate">Дата рождения</label>
                                                <input class="form-control py-4"
                                                       id="inputBirthDate"
                                                       type="date"
                                                       placeholder="dd.mm.yyyy"
                                                       ng-model="registration.user.birthdate"
                                                       ng-required="true"/>
                                            </div>
                                        </div>
                                        <div class="col-md-7">
                                            <div class="form-group">
                                                <label class="small mb-1" for="inputEmailAddress">Email</label>
                                                <input class="form-control py-4"
                                                       id="inputEmailAddress"
                                                       type="email"
                                                       aria-describedby="emailHelp"
                                                       placeholder="Enter email address"
                                                       ng-model="registration.user.email"
                                                       ng-required="true"/>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="small mb-1" for="selectRole">Выберите роль</label>
                                                <select ng-model="registration.user.role" class="form-control"
                                                        id="selectRole"
                                                        title="Role" ng-required="true">
                                                    <option value="administrator">Администратор</option>
                                                    <option value="coach">Тренер</option>
                                                    <option value="doctor">Врач</option>
                                                    <option value="player" ng-selected>Игрок</option>
                                                    <option value="operator">Оператор</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="small mb-1" for="selectFaculty">Выберите факультет</label>
                                                <select ng-model="registration.user.faculty" class="form-control "
                                                        id="selectFaculty"
                                                        title="Faculty" ng-required="true">
                                                    <option value="all"
                                                            ng-if="registration.user.role !== 'coach' &&
                                                                   registration.user.role !== 'player'">
                                                        Вне факультета
                                                    </option>
                                                    <option value="ravenclaw">Когтевран</option>
                                                    <option value="hufflepuff">Пуффендуй</option>
                                                    <option value="slytherin">Слизерин</option>
                                                    <option value="gryffindor">Гриффиндор</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group mt-4 mb-0">
                                        <input class="btn btn-primary btn-block" type="submit"
                                               value="Зарегистрироваться"/>
                                    </div>
                                </form>
                            </div>
                            <div class="card-footer text-center">
                                <div class="small"><a ng-href='#!/authorisation'>Зарегистрированы? Войдите</a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
    <div id="layoutAuthentication_footer">
        <footer class="py-4 bg-light mt-auto">
            <div class="container-fluid">
                <div class="d-flex align-items-center justify-content-between small">
                    <div class="text-muted">Copyright &copy; Hogwarts 2020</div>
                </div>
            </div>
        </footer>
    </div>
</div>

</body>
</html>
