<div class="container-fluid" ng-controller="NewsController as newsctrl">
    <div class="row">
        <div class="d-flex justify-content-between justify-content-md-center justify-content-end">
            <h1 class="h3 mb-0 text-gray-800">Новости команды</h1>
        </div>
    </div>
    <div class="row">
        <div class="container">
            <div ng-repeat="exist in newsctrl.existingNews.team">
                <div class="row">
                    <div class="card shadow col-lg-12 col-md-12">
                        <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-primary">{{exist.headline}}</h6>
                        </div>
                        <div class="card-body">
                            {{exist.content}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="d-sm-flex align-items-center justify-content-between ">
            <h1 class="h3 mb-0 text-gray-800">Новости общие</h1>
        </div>
    </div>
    <div class="row"  >
        <div class="container">
            <!-- Earnings (Monthly) Card Example -->
            <div ng-repeat="exist in newsctrl.existingNews.allNews">
                <div class="row">
                    <!-- Default Card Example -->
                    <div class="card shadow col-lg-12 col-md-12">
                        <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-primary">{{exist.headline}}</h6>
                        </div>
                        <div class="card-body">
                            {{exist.content}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>