<div class="sb-sidenav accordion sb-sidenav-dark" ng-controller="RoleController as role">
    <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
        <div class="sb-sidenav-menu">
            <div class="nav">

                <a class="nav-link" ng-href="#!/news" >
                    Новости
                </a>

                <div ng-if="role.isAdministrator">
                    <a class="nav-link" ng-href="#!/administrator">
                        Главная
                    </a>
                </div>

                <div ng-if="role.isPlayer">
                    <a class="nav-link" ng-href="#!/player" >
                        Статистика
                    </a>
                    <a class="nav-link" ng-href="#!/player" >
                        Рейтинг команды
                    </a>
                </div>

                <div  ng-if="role.isCoach">

                    <a class="nav-link" ng-href="#!/coach">
                        Тренировки
                    </a>
                    <a class="nav-link" ng-href="#!/coach">
                        Рейтинг
                    </a>
                </div>


                <div ng-if="role.isDoctor">

                    <a class="nav-link" ng-href="#!/doctor" >
                        Пациенты
                    </a>
                </div>


                <div ng-if="role.isOperator">

                    <a class="nav-link" ng-href="#!/create_news" >
                        Создать новость
                    </a>
                    <a class="nav-link" ng-href="#!/create_news">
                    Создать Матч
                </a>
                    <a class="nav-link" ng-href="#!/create_news" >
                        Оценить матч
                    </a>

                </div>

                <a class="nav-link" ng-href="#!/editUser/{{role.userId}}">
                    Редактировать профиль
                </a>
            </div>
        </div>
        <div class="sb-sidenav-footer">
            <div class="small">Авторизован как:</div>
            {{role.login}}
        </div>
    </nav>
</div>