<form class="form-group" ng-controller="AnimeAddController as animeCtrl" data-ng-submit="animeCtrl.addAnime()">

    <textarea ng-model="animeCtrl.anime.name" class="form-control" placeholder="Enter anime name"
                  title="name"></textarea><br/>

    <textarea ng-model="animeCtrl.anime.author" class="form-control"
              placeholder="Author" title="author"></textarea><br/>

    <textarea ng-model="animeCtrl.anime.genre"  class="form-control"
              placeholder="Genres" title="genre"></textarea><br/>

    <textarea ng-model="animeCtrl.anime.description"  class="form-control"
              placeholder="Deathcription" title="description"></textarea><br/>


    <input ng-model="animeCtrl.image" type="file" name="file" /><br />


    <input type="submit" value="Add anime" ng/> <a data-ng-href='#!/user'>Back to user options</a>
</form>