<link href="/css/allPagesStyles.css" rel="stylesheet">
<navigation>

</navigation>
<form class="user-form" name="animeForm" ng-controller="AnimeAddController as animeCtrl"
      data-ng-submit="animeForm.$valid && animeCtrl.addAnime()" novalidate>

    <textarea ng-model="animeCtrl.anime.name" class="anime-form-control" placeholder="Enter anime name"
                  title="name" required></textarea><br/>

    <textarea ng-model="animeCtrl.anime.author" class="anime-form-control"
              placeholder="Author" title="author" required></textarea><br/>

    <textarea ng-model="animeCtrl.anime.genre"  class="anime-form-control"
              placeholder="Genres" title="genre" required></textarea><br/>

    <textarea ng-model="animeCtrl.anime.description"  class="anime-form-control"
              placeholder="Deathcription" title="description" required></textarea><br/>

    <input file="animeCtrl.image" type="file" name="file" required/><br />

    <input type="submit" value="Add anime"/> <a data-ng-href='#!/user'>Back to user options</a>

    <div class="footer">
        <p>Copyright &copy; Hogwarts ' 2020</p>
    </div>
</form>