
<form name="reviewForm" role="form" ng-controller="AnimePageController as animeCtrl"
      ng-submit="animeCtrl.addComment()" novalidate>

    <blockquote ng-show="animeCtrl.review.rate">
        <strong>{{animeCtrl.review.rate}}</strong><br />
        {{animeCtrl.review.body}}<br />
    </blockquote>

    <h4>Submit a Review</h4>
    <fieldset class="form-group" required>
        <select ng-model="animeCtrl.review.rate" class="form-control"
                ng-options="rate for rate in [10,9,8,7,6,5,4,3,2,1]" title="Rate">
        </select>
    </fieldset>
    <fieldset class="form-group" required>
            <textarea ng-model="animeCtrl.review.body" class="form-control"
                      placeholder="Write a short review of the anime..." title="Review"></textarea>
    </fieldset>
    <fieldset class="form-group">
        <input type="submit" class="btn btn-primary pull-right" value="Submit Review"/>
    </fieldset>
</form>