<div ng-controller="UserReviewController as reviews">
    <div class="exit">
        <button type="submit" ng-controller="AuthorisationController" ng-click="$ctrl.logOut()">Выйти</button>
    </div>
    <!--  Product Reviews List -->
    <ul>
        <h4> Your reviews </h4>
        <li ng-repeat="review in reviews.reviews">

            <blockquote>
                <strong>{{review.rate}}</strong> — {{review.anime.name}}<br />
                {{review.body}}
                <cite class="clearfix">—{{review.user.login}}</cite>
            </blockquote>
        </li>
    </ul>
</div>