
<form class="user-form" name="registrationForm" ng-controller="RegistrationController as registration"
      data-ng-submit="registration.registerUser()" novalidate>

    <h4>Add user</h4>

    <fieldset class="form-group">

        <input type="text" ng-model="$ctrl.user.login" class="form-control" placeholder="Enter your login here"
                  title="Login" required/><br />

        <input ng-model="$ctrl.user.password" type="password" class="form-control"
               placeholder="Enter your password here" title="Password" required/><br />

        <input type="submit" value="Register"/><a ng-href='#!/authorisation'>Back to authorisation</a>
    </fieldset>
    <div class="footer">
        <p>Copyright &copy; DimAss' 2017</p>
    </div>
</form>