<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-12">
            <div class="card shadow-lg border-0 rounded-lg mt-5">
                <div class="card mb-12" ng-controller="TrainingsController as ctrl" ng-init="ctrl.getTeamPlayers()">
                    <div class="card-header"><i class="fas fa-table mr-1"></i>Управление командой</div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                <thead>
                                <tr>
                                    <th>Имя</th>
                                    <th>Фамилия</th>
                                    <th>Отчество</th>
                                    <th>Рейтинг</th>
                                    <th>Болеет</th>
                                    <th></th>
                                    <th>Позиция</th>
                                    <th>В запасе</th>
                                    <th>Капитан</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="player in ctrl.players">
                                    <td>{{player.name}}</td>
                                    <td>{{player.surname}}</td>
                                    <td>{{player.patronymic}}</td>
                                    <td>
                                        <input ng-change="ctrl.savePlayer(player.id, player.inStock, player.captain, player.position, player.rating)"
                                               ng-model="player.rating"
                                               ng-value="player.rating"/>
                                    </td>
                                    <td>
                                        <input ng-change="ctrl.savePlayer(player.id, player.inStock, player.captain, player.position, player.rating)"
                                               type="checkbox"
                                               disabled
                                               ng-model="player.sick"
                                               ng-value="player.sick"/>
                                    </td>
                                    <td><a ng-href='#!/view_examinations/{{player.id}}'>История болезни</a></td>
                                    <td>
                                        <select ng-model="player.position"
                                                ng-change="ctrl.savePlayer(player.id, player.inStock, player.captain, player.position, player.rating)">
                                            <option ng-repeat="position in ctrl.positions" ng-selected="player.position === position.name">{{position.name}}</option>
                                        </select>
                                    </td>
                                    <td>
                                        <input ng-change="ctrl.savePlayer(player.id, player.inStock, player.captain, player.position, player.rating)"
                                               type="checkbox"
                                               ng-model="player.inStock"
                                               ng-value="player.inStock"/>
                                    </td>
                                    <td>
                                        <input ng-change="ctrl.savePlayer(player.id, player.inStock, player.captain, player.position, player.rating)"
                                               type="checkbox"
                                               ng-model="player.captain"
                                               ng-value="player.captain"/>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

