<div class="container">
    <div class="row justify-content-center">
        <div class="card mb-12" ng-controller="TrainingsController as ctrl">
            <div class="card shadow-lg border-0 rounded-lg mt-5">
                <div class="card-header">
                    <h3 class="text-center font-weight-light my-4">Редактировать расписание тренировок</h3>
                </div>
                <div class="card-body">

                    <form name="trainingForm"
                          ng-controller="TrainingsController as ctrl"
                          data-ng-submit="ctrl.saveTraining()"
                          ng-init="ctrl.getTraining()"
                          novalidate>

                        <div class="form-row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="small mb-1" for="monday">Понедельник</label>
                                    <input class="form-control py-4"
                                           ng-model="ctrl.training.monday"
                                           ng-value="ctrl.training.monday"
                                           id="monday"
                                           type="text"
                                           placeholder="Enter time i.e. 10:30"
                                           ng-required="true"/>
                                </div>
                            </div>
                            <div class="col-md-8">
                                <div class="form-group">
                                    <label class="small mb-1" for="mondayPlan">План тренировки</label>
                                    <textarea class="form-control py-4"
                                              ng-model="ctrl.training.mondayPlan"
                                              ng-value="ctrl.training.mondayPlan"
                                              id="mondayPlan"
                                              type="text"
                                              placeholder="Enter training plan"
                                              ng-required="true"></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="small mb-1" for="tuesday">Вторник</label>
                                    <input class="form-control py-4"
                                           ng-model="ctrl.training.tuesday"
                                           ng-value="ctrl.training.tuesday"
                                           id="tuesday"
                                           type="text"
                                           placeholder="Enter time i.e. 10:30"
                                           ng-required="true"/>
                                </div>
                            </div>
                            <div class="col-md-8">
                                <div class="form-group">
                                    <label class="small mb-1" for="tuesdayPlan">План тренировки</label>
                                    <textarea class="form-control py-4"
                                              ng-model="ctrl.training.tuesdayPlan"
                                              ng-value="ctrl.training.tuesdayPlan"
                                              id="tuesdayPlan"
                                              type="text"
                                              placeholder="Enter training plan"
                                              ng-required="true"></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="small mb-1" for="wednesday">Среда</label>
                                    <input class="form-control py-4"
                                           ng-model="ctrl.training.wednesday"
                                           ng-value="ctrl.training.wednesday"
                                           id="wednesday"
                                           type="text"
                                           placeholder="Enter time i.e. 10:30"
                                           ng-required="true"/>
                                </div>
                            </div>
                            <div class="col-md-8">
                                <div class="form-group">
                                    <label class="small mb-1" for="wednesdayPlan">План тренировки</label>
                                    <textarea class="form-control py-4"
                                              ng-model="ctrl.training.wednesdayPlan"
                                              ng-value="ctrl.training.wednesdayPlan"
                                              id="wednesdayPlan"
                                              type="text"
                                              placeholder="Enter training plan"
                                              ng-required="true"></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="small mb-1" for="thursday">Четверг</label>
                                    <input class="form-control py-4"
                                           ng-model="ctrl.training.thursday"
                                           ng-value="ctrl.training.thursday"
                                           id="thursday"
                                           type="text"
                                           placeholder="Enter time i.e. 10:30"
                                           ng-required="true"/>
                                </div>
                            </div>
                            <div class="col-md-8">
                                <div class="form-group">
                                    <label class="small mb-1" for="thursdayPlan">План тренировки</label>
                                    <textarea class="form-control py-4"
                                              ng-model="ctrl.training.thursdayPlan"
                                              ng-value="ctrl.training.thursdayPlan"
                                              id="thursdayPlan"
                                              type="text"
                                              placeholder="Enter training plan"
                                              ng-required="true"></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="small mb-1" for="friday">Пятница</label>
                                    <input class="form-control py-4"
                                           ng-model="ctrl.training.friday"
                                           ng-value="ctrl.training.friday"
                                           id="friday"
                                           type="text"
                                           placeholder="Enter time i.e. 10:30"
                                           ng-required="true"/>
                                </div>
                            </div>
                            <div class="col-md-8">
                                <div class="form-group">
                                    <label class="small mb-1" for="fridayPlan">План тренировки</label>
                                    <textarea class="form-control py-4"
                                              ng-model="ctrl.training.fridayPlan"
                                              ng-value="ctrl.training.fridayPlan"
                                              id="fridayPlan"
                                              type="text"
                                              placeholder="Enter training plan"
                                              ng-required="true"></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="small mb-1" for="saturday">Суббота</label>
                                    <input class="form-control py-4"
                                           ng-model="ctrl.training.saturday"
                                           ng-value="ctrl.training.saturday"
                                           id="saturday"
                                           type="text"
                                           placeholder="Enter time i.e. 10:30"
                                           ng-required="true"/>
                                </div>
                            </div>
                            <div class="col-md-8">
                                <div class="form-group">
                                    <label class="small mb-1" for="saturdayPlan">План тренировки</label>
                                    <textarea class="form-control py-4"
                                              ng-model="ctrl.training.saturdayPlan"
                                              ng-value="ctrl.training.saturdayPlan"
                                              id="saturdayPlan"
                                              type="text"
                                              placeholder="Enter training plan"
                                              ng-required="true"></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="small mb-1" for="sunday">Воскресенье</label>
                                    <input class="form-control py-4"
                                           ng-model="ctrl.training.sunday"
                                           ng-value="ctrl.training.sunday"
                                           id="sunday"
                                           type="text"
                                           placeholder="Enter time i.e. 10:30"
                                           ng-required="true"/>
                                </div>
                            </div>
                            <div class="col-md-8">
                                <div class="form-group">
                                    <label class="small mb-1" for="sundayPlan">План тренировки</label>
                                    <textarea class="form-control py-4"
                                              ng-model="ctrl.training.sundayPlan"
                                              ng-value="ctrl.training.sundayPlan"
                                              id="sundayPlan"
                                              type="text"
                                              placeholder="Enter training plan"
                                              ng-required="true"></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="form-group mt-4 mb-0">
                            <input class="btn btn-primary btn-block" type="submit" value="Сохранить"/>
                        </div>
                    </form>
                </div>
            </div>
    </div>
</div>

</div>