<div class="container-fluid" ng-controller="RoleController as role">
    <div class="row">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-7">
                    <div class="card shadow-lg border-0 rounded-lg mt-5">
                        <div class="card-header">
                            <h3 class="text-center font-weight-light my-4">Создание осмотра</h3>
                        </div>
                        <div class="card-body">

                            <form name="examinationform"
                                  id="examinationform"
                                  ng-controller="MedicalExaminationController as examination"
                                  data-ng-submit="examination.createExamination()"
                                  novalidate>
                                <div class="form-row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label class="small mb-1" for="name">Имя</label>
                                            <input class="form-control py-4"
                                                   ng-model="examination.examination.name"
                                                   id="name"
                                                   type="text"
                                                   placeholder="Имя"
                                                   ng-required="true"/>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label class="small mb-1" for="surname">Фамилия</label>
                                            <input class="form-control py-4"
                                                   ng-model="examination.examination.surname"
                                                   id="surname"
                                                   type="text"
                                                   placeholder="Фамилия"
                                                   ng-required="true"/>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label class="small mb-1" for="sick">Болен ли игрок?</label>
                                            <input class="left-container"
                                                   ng-model="examination.examination.sick"
                                                   id="sick"
                                                   type="checkbox"
                                            />
                                        </div>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label class="small mb-1" for="text">Дополнительная информация</label>
                                            <textarea class="form-control py-4"
                                                      ng-model="examination.examination.text"
                                                      id="text"
                                                      type="text"
                                                      placeholder="Дополнительная информация"
                                                      rows="8"
                                                      form="examinationform"
                                                      ng-required="true"></textarea>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group mt-4 mb-0">
                                    <input class="btn btn-primary btn-block" type="submit" value="Создать осмотр"/>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>