<main>
    <div class="container-fluid">
        <h1 class="mt-4">Пациенты</h1>
        <div class="card mb-4" ng-controller="DoctorController as docctrl">
            <div class="table-responsive">
                <table class="table table-bordered" id="usersTable" width="100%" cellspacing="0">
                    <thead>
                    <tr>
                        <th>Имя</th>
                        <th>Фамилия</th>
                        <th>Дата Рождения</th>
                        <th>Факультет</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="patient in docctrl.patients">
                        <td> {{patient.name}}</td>
                        <td>{{patient.surname}}</td>
                        <td>{{patient.birthday}}</td>
                        <td>{{patient.faculty}}
                        <td> <button type="button"
                                class="btn btn-primary"
                                data-toggle="modal"
                                ng-options="patient.userId"
                                data-target="#createExamination">Осмотреть
                        </button></td>
                    </tr>
                    </tbody>
                </table>
                <div class="modal fade"
                     id="createExamination"
                     tabindex="-1"
                     role="dialog"
                     aria-labelledby="exampleModalLabel"
                     aria-hidden="true"
                     ng-controller="DoctorController as docctrl">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal"
                                        aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <div class="modal-body">
                                    <form name="examinationform"
                                          id="examinationform"
                                          ng-controller="DoctorController as examination"
                                          data-ng-submit="examination.createExamination()"
                                          novalidate>
                                        <div class="form-row">
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <label class="small mb-1" for="sick">Болен ли игрок?</label>
                                                    <input class="left-container"
                                                           ng-model="examination.examination.sick"
                                                           id="sick"
                                                           type="checkbox"
                                                    />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-row">
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <label class="small mb-1" for="text">Результаты осмотра</label>
                                                    <textarea class="form-control py-4"
                                                              ng-model="examination.examination.text"
                                                              id="text"
                                                              type="text"
                                                              placeholder="Введите информацию"
                                                              rows="8"
                                                              form="examinationform"
                                                              ng-required="true"></textarea>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-primary"
                                        ng-click="docctrl.createExamination(patient.id)">Готово
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>