<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Add New Anime</title>
</head>
<body>
Добавить Аниме
<form method="post" action="/anime/addAnime">
    <input placeholder="Имя" name="name" type="text"/>
    <input placeholder="Жанры" name="genre" type="text"/>
    <input placeholder="Автор" name="author" type="text"/>
    <input placeholder="Описание" name="description" type="text"/>
    <input placeholder="Картинка" name="animeLink" type="text"/>
    <input type="file" id="fileID"/>
    <button type="submit">Добавить</button>
</form>
</body>
</html>