<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title></title>

    <script
            src="http://code.jquery.com/jquery-2.2.4.min.js"
            integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
            crossorigin="anonymous"></script>

    <script th:inline="javascript">

        /*<![CDATA[*/

        var animeId = /*[[${animeId}]]*/ null;

        /*]]>*/
    </script>

    <script src="/js/ViewAnimePage.js"/>
</head>
<body>

    <div
        id="anime-info">
    </div>

    <div
        id="comments">
    </div>

</body>
</html>