<div id="layoutAuthentication">
    <div id="layoutAuthentication_content">
        <main>
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-7">
                        <div class="card shadow-lg border-0 rounded-lg mt-5">
                            <div class="card-header">
                                <h3 class="text-center font-weight-light my-4">Редактировать профиль</h3>
                            </div>
                            <div class="card-body" ng-controller="RoleController as role">

                                <form name="editUserForm"
                                      ng-controller="EditUserController as edit"
                                      data-ng-submit="edit.editUser()"
                                      novalidate>

                                    <img class="card-img-top" ng-src="/user/{{edit.id}}/img" alt="">
                                    <input type="hidden" name="userId" ng-model="edit.user.id" ng-value="edit.user.id"/>
                                    <div class="form-row">
                                        <div class="col-md-6" ng-if="edit.isAdmin">
                                            <div class="form-group">
                                                <label class="small mb-1" for="inputLogin">Логин</label>
                                                <input class="form-control py-4"
                                                       ng-model="edit.user.login"
                                                       ng-value="edit.user.login"
                                                       id="inputLogin"
                                                       type="text"
                                                       placeholder="Enter login"
                                                       ng-required="true"/>
                                            </div>
                                        </div>
                                        <div class="col-md-6" ng-if="edit.isAdmin">
                                            <div class="form-group">
                                                <label class="small mb-1" for="inputPassword">Пароль</label>
                                                <input class="form-control py-4"
                                                       id="inputPassword"
                                                       type="password"
                                                       placeholder="Enter password"
                                                       ng-model="edit.user.password"
                                                       ng-required="true"/>
                                            </div>
                                        </div>
                                        <div class="col-md-6" ng-if="!edit.isAdmin">
                                            <div class="form-group">
                                                <div class="form-group mt-4 mb-0">
                                                    <button type="button"
                                                            class="btn btn-primary"
                                                            data-toggle="modal"
                                                            data-target="#changePassword">Сменить пароль
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label class="small mb-1" for="inputFirstName">Имя</label>
                                                <input class="form-control py-4"
                                                       id="inputFirstName"
                                                       ng-model="edit.user.name"
                                                       ng-value="edit.user.name"
                                                       type="text"
                                                       placeholder="Enter first name"
                                                       ng-required="true"/>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label class="small mb-1" for="inputLastName">Фамилия</label>
                                                <input class="form-control py-4"
                                                       id="inputLastName"
                                                       type="text"
                                                       placeholder="Enter last name"
                                                       ng-model="edit.user.surname"
                                                       ng-value="edit.user.surname"
                                                       ng-required="true"/>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label class="small mb-1" for="inputPatronymic">Отчество</label>
                                                <input class="form-control py-4"
                                                       id="inputPatronymic"
                                                       type="text"
                                                       placeholder="Enter patronymic"
                                                       ng-model="edit.user.patronymic"
                                                       ng-value="edit.user.patronymic"
                                                       ng-required="true"/>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="col-md-5">
                                            <div class="form-group">
                                                <label class="small mb-1" for="inputBirthDate">Дата рождения</label>
                                                <input class="form-control py-4"
                                                       id="inputBirthDate"
                                                       type="text"
                                                       placeholder="dd.mm.yyyy"
                                                       ng-model="edit.user.birthdate"
                                                       ng-value="edit.user.birthdate"
                                                       ng-required="true"/>
                                            </div>
                                        </div>
                                        <div class="col-md-7">
                                            <div class="form-group">
                                                <label class="small mb-1" for="inputEmailAddress">Email</label>
                                                <input class="form-control py-4"
                                                       id="inputEmailAddress"
                                                       type="email"
                                                       aria-describedby="emailHelp"
                                                       placeholder="Enter email address"
                                                       ng-model="edit.user.email"
                                                       ng-value="edit.user.email"
                                                       ng-required="true"/>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="form-group col-md-6">
                                            <label class="small mb-1" for="inputAvatar">Аватар</label>
                                            <input file="edit.image"
                                                   class="py-4"
                                                   id="inputAvatar"
                                                   name="file"
                                                   type="file"
                                                   ng-model="edit.image"/>
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="form-group col-md-6">
                                            <label class="small mb-1" for="inputPhone">Мобильный телефон</label>
                                            <input class="form-control py-4"
                                                   id="inputPhone"
                                                   type="tel"
                                                   placeholder="+79999999999"
                                                   ng-model="edit.user.phone"
                                                   ng-value="edit.user.phone"
                                                   ng-required="true"/>
                                        </div>
                                    </div>


                                    <div class="form-row" ng-if="edit.isAdmin">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="small mb-1" for="selectRole">Выберите роль</label>
                                                <select ng-model="edit.user.role"
                                                        class="form-control"
                                                        id="selectRole"
                                                        title="Role" ng-required="true">
                                                    <option value="administrator">Администратор</option>
                                                    <option value="coach">Тренер</option>
                                                    <option value="doctor">Врач</option>
                                                    <option value="statistic">Статистик</option>
                                                    <option value="player" selected>Игрок</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="small mb-1" for="selectFaculty">Выберите факультет</label>
                                                <select ng-model="edit.user.faculty"
                                                        class="form-control"
                                                        id="selectFaculty"
                                                        title="Faculty"
                                                        ng-required="true">
                                                    <option value="all">Вне факультета</option>
                                                    <option value="ravenclaw">Когтевран</option>
                                                    <option value="hufflepuff">Пуффендуй</option>
                                                    <option value="slytherin">Слизерин</option>
                                                    <option value="gryffindor">Гриффиндор</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="small mb-1" style="height: fit-content" for="inputAdditionalInfo">О
                                            себе</label>
                                        <input class="form-control py-4"
                                               id="inputAdditionalInfo"
                                               type="text"
                                               placeholder="Пару слов о себе"
                                               aria-describedby="emailHelp"
                                               ng-value="edit.user.info"
                                               ng-model="edit.user.info"/>
                                    </div>
                                    <div class="form-group mt-4 mb-0">
                                        <input class="btn btn-primary btn-block" type="submit" value="Сохранить"/>
                                    </div>
                                    <div class="modal fade"
                                         id="changePassword"
                                         tabindex="-1"
                                         role="dialog"
                                         aria-labelledby="exampleModalLabel"
                                         aria-hidden="true"
                                         ng-controller="ChangePasswordController as ctrl">
                                        <div class="modal-dialog" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <button type="button" class="close" data-dismiss="modal"
                                                            aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                                </div>
                                                <div class="modal-body">
                                                    <form>
                                                        <input type="hidden" id="idToChangepwd" name="userId"
                                                               ng-model="ctrl.data.userId" ng-value="edit.user.id"/>
                                                        <div class="form-group">
                                                            <label for="oldPassword" class="form-control-label">Старый
                                                                пароль</label>
                                                            <input type="text" class="form-control" id="oldPassword"
                                                                   ng-model="ctrl.data.oldPassword" value="">
                                                        </div>
                                                        <div class="form-group">
                                                            <label for="newPassword" class="form-control-label">Новый
                                                                пароль</label>
                                                            <input type="text" class="form-control" id="newPassword"
                                                                   ng-model="ctrl.data.newPassword" value="">
                                                        </div>
                                                        <div class="form-group">
                                                            <label for="newPasswordConfirmation"
                                                                   class="form-control-label">Повторите новый
                                                                пароль</label>
                                                            <input type="text" class="form-control"
                                                                   id="newPasswordConfirmation"
                                                                   ng-model="ctrl.data.newPasswordConfirmation"
                                                                   value="">
                                                        </div>
                                                    </form>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary"
                                                            data-dismiss="modal">Close
                                                    </button>
                                                    <button type="button" class="btn btn-primary"
                                                            ng-click="ctrl.changePassword()">Сменить пароль
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
</div>

