<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-7">
            <div class="card shadow-lg border-0 rounded-lg mt-5">
                <div class="card-header">
                    <h3 class="text-center font-weight-light my-4">Редактировать расписание тренировок</h3>
                </div>
                <div class="card-body">

                    <form name="ratingForm"
                          ng-controller="TrainingsController as ctrl"
                          ng-init="ctrl.getTeamPlayers()"
                          novalidate>

                        <div class="form-row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="small mb-1" for="playerSelect">Игрок</label>
                                    <select name="player"
                                            id="playerSelect"
                                            ng-model="ctrl.selectedPlayer"
                                            ng-options="player.id as  player.name for player in ctrl.players"></select><br>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label class="small mb-1" for="rating">План тренировки</label>
                                    <input class="form-control py-4"
                                              ng-model="ctrl.rating"
                                              ng-value="ctrl.rating"
                                              id="rating"
                                              type="number"
                                              placeholder="Rating"
                                              ng-required="true"/>
                                </div>
                            </div>
                        </div>

                        <div class="form-group mt-4 mb-0">
                            <input class="btn btn-primary btn-block" type="submit" value="Увеличить" ng-click="ctrl.savePlayerRating(1)"/>
                        </div>
                        <div class="form-group mt-4 mb-0">
                            <input class="btn btn-primary btn-block" type="submit" value="Уменьшить" ng-click="ctrl.savePlayerRating(-1)"/>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

